<form method="post" enctype="multipart/form-data" asp-controller="OperationsManager" asp-action="UploadPayload">
    <div class="form-group">
        <div class="col-md-10">
            <h2>Upload Payload TEST</h2>
            <input type="file" name="files" accept=".csv" />
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Upload" />
    </div>
</form>

