
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">
    <script src="https://kit.fontawesome.com/68660d23d9.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="row">
        <div class="col-sm-6 col-lg-3 btn1">
            <div class="row">
                <a href="~/OperationsManager/Create" class="col-sm-12" style="text-align: center;">
                    <i class="fas fa-file-upload"></i>
                </a>
                <p class="col-sm-12" style="text-align: center;">Upload</p>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 btn2">
            <div class="row">
                <a href="~/OperationsManager/ViewDeployment" class="col-sm-12" style="text-align: center;">
                    <i class="fas fa-table"></i>
                </a>
                <p class="col-sm-12" style="text-align: center;">View Deployments</p>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 btn3">
            <div class="row">
                <a href="~/OperationsManager/ViewPayload" class="col-sm-12" style="text-align: center;">
                    <i class="fas fa-font"></i>
                </a>
                <p class="col-sm-12" style="text-align: center;">Payload</p>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 btn4">
            <div class="row">
                <a href="~/OperationsManager/ViewStaff" class="col-sm-12" style="text-align: center;">
                    <i class="fas fa-bold"></i>
                </a>
                <p class="col-sm-12" style="text-align: center;">View Staff</p>
            </div>

        </div>
        <div class="col-sm-6 col-lg-3 btn3">
            <div class="row">
                <a href="~/OperationsManager/CreateStaff" class="col-sm-12" style="text-align: center;">
                    <i class="fas fa-font"></i>
                </a>
                <p class="col-sm-12" style="text-align: center;">Create New Staff</p>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 btn3">
            <div class="row">
                <a href="~/OperationsManager/UploadPayload" class="col-sm-12" style="text-align: center;">
                    <i class="fas fa-font"></i>
                </a>
                <p class="col-sm-12" style="text-align: center;">Upload Payload</p>
            </div>
        </div>
    </div>
</body>
</html>

