@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">
    <script src="https://kit.fontawesome.com/68660d23d9.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="row">
        <div class="col-sm-6 col-lg-3 btn1">
            <div class="row">
                <a href="~/OperationsStaff/Create" class="col-sm-12" style="text-align: center;">
                    <i class="fas fa-file-upload"></i>
                </a>
                <p class="col-sm-12" style="text-align: center;">Upload</p>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 btn2">
            <div class="row">
                <a href="~/OperationsStaff/ViewDeployment" class="col-sm-12" style="text-align: center;">
                    <i class="fas fa-table"></i>
                </a>
                <p class="col-sm-12" style="text-align: center;">View Deployments</p>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 btn3">
            <div class="row">
                <a href="~/OperationsStaff/ViewPayload" class="col-sm-12" style="text-align: center;">
                    <i class="fas fa-font"></i>
                </a>
                <p class="col-sm-12" style="text-align: center;">Payload</p>
            </div>
        </div>
    </div>
    <div id="map" style="width: 500px; height: 500px"></div>

    <script>
        var map;
        function initMap() {
            var fomoCoords = { lat: 1.2789, lng: 103.8485 };
            map = new google.maps.Map(document.getElementById('map'), {
                center: fomoCoords,
                zoom: 15
            });
            var marker = new google.maps.Marker({
                position: fomoCoords,
                map: map
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB14-3qDRxNzqGy7SXV2KpD4pPINkXpHg&callback=initMap">
    </script>

</body>
</html>

