@{
    ViewData["Title"] = "View Payload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-action="FindLocation" asp-controller="OperationsStaff">Map</a>
<partial name="~/Views/Shared/_ViewPayload.cshtml" model="@Model">