
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">
    <script src="https://kit.fontawesome.com/68660d23d9.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="row">
        <div class="col-sm-6 col-lg-3 btn1">
            <div class="row">
                <a href="~/PartTimeStaff/Create" class="col-sm-12" style="text-align: center;">
                    <img src="~/Assets/UploadDeploymentIcon.png" />
                </a>
                <p class="col-sm-12" style="text-align: center;">Upload</p>
            </div>
        </div>
    </div>
</body>
</html>

