@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title>@ViewData["Title"] - FOMO Pay Wizard</title> <!-- Reference to Bootstrap CSS, JavaScript/JQuery files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script> <!-- Reference to customized styling for this website -->
</head>
<body>
    <!-- Bootstrap container, centralise the container between margins -->
    <div class="container">
        <!-- 1st row -->
        <div class="row">
            <div class="col-sm-12">
                @if (Context.Session.GetString("Role") != null)
                {
                    if (Context.Session.GetString("Role") == "Staff")
                    {
                        @await Html.PartialAsync("_StaffMenu.cshtml")
                    }
                }   
            </div>
        </div>
        <!-- 2nd row -->
        <div class="row">
            <div class="col-sm-12">
                <p style="padding:2px 15px;">
                    @{
                        string userId = "Anonymous";
                        string userRole = "Unknown";
                        if (Context.Session.GetString("Role") != null)
                        {
                            userRole = Context.Session.GetString("Department");
                        }
                        if (Context.Session.GetString("LoginID") != null)
                        {
                            userId = Context.Session.GetString("Name");
                        }
                        
                    }
                    Welcome,&nbsp;
                    <span style="font-weight:bold">@userId</span>&nbsp; (Role: @userRole).&nbsp;
                </p>
            </div>
        </div>
        <!-- 3rd row -->
        <div class="row">
            <div class="col-sm-12">
                @RenderBody()
            </div>
        </div>
        <!-- 4th row -->
        <div class="row">
            <div class="col-sm-12" style="text-align: right">
                <hr />
                <footer>
                    <p style="padding-right:10px;">
                        FOMO Operations Wizard - &copy;@DateTime.Today.Year FOMOPay
                    </p>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>
