<nav class="navbar navbar-expand-lg navbar-light">

    <a class="navbar-brand" href="~/OperationsManager/Index">
        <img src="https://www.fomopay.com/wp-content/uploads/2017/05/fomo-pay-logo-580-140.png" width="220" height="50">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#staffNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="staffNavbar">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="~/OperationsManager/UploadPayload">Upload Payload</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/OperationsManager/Create">Upload</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/OperationsManager/ViewDeployment">Deployment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/OperationsManager/ViewPayload">Full Payload</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/OperationsManager/ViewStaff">View Staff</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/OperationsManager/CreateStaff">Create Staff</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="~/Home/LogOut">Log Out</a>
            </li>
        </ul>

    </div>
</nav>