/*Login styles*/
form {
    margin: 0 auto;
}

#form-container {
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    width: 50%;
    margin-top: 100px;
    padding: 80px;
}

.form-group {
    padding: 0 30px 0 30px;
}

#first-formGroup {
    margin-top: 20px;
}

#submitBtn {
    margin-bottom: 20px;
}

input, label {
    display: block;
}

.login-wrapper, .password-wrapper {
    padding: 15px 0;
}

#txtLoginID, #txtPassword {
    margin: 0 auto;
    width: 75%;
    padding: 5px;
    border-radius: 4px;
    border-style: solid;
    border-color: darkgrey;
}

.loginBtn-wrapper {
    padding: 50px 0;
}

#btnStaffLogin {
    margin: 0 auto;
    width: 75%;
    border: none;
}
/*Login styles*/

/*View payload styles*/
#filterModal {
    width: 700px;
}

@media (max-width: 1300px) {
    #txtLoginID, #txtPassword {
        width: 100%;
    }

    #btnStaffLogin  {
        width: 100%;
    }
}

@media (max-width: 1180px) {
    #form-container {
        margin-top: 50px;
        width: 75%;
    }
}

@media (max-width: 700px) {
    #form-container {
        width: 100%;
    }
}

@media (max-width: 577px) {
    #form-container {
        box-shadow: none;
        padding: 30px;
    }

    .login-wrapper, .password-wrapper {
        padding: 15px 0;
        width: 100%;
    }

}