.btn1, .btn2, .btn3, .btn4, .btn5, .btn6{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.btn1 :hover, .btn2 :hover, .btn3 :hover, .btn4 :hover, .btn5 :hover, .btn6 :hover {
    text-decoration:none;
}
.btn-lg {
    padding: 30px;
}

.fa-file-upload, .fa-table {
    font-size: 50px;
    color: peachpuff;
    text-align: center;
}

.fa-file-csv {
    font-size: 50px;
    color: yellow;
    text-align: center;
}

.fa-users {
    font-size: 50px;
    color: blueviolet;
    text-align: center;
}