@model FOMOWizard.Models.Deployment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Deployment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeploymentID" class="control-label"></label>
                <input asp-for="DeploymentID" class="form-control" />
                <span asp-validation-for="DeploymentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeploymentType" class="control-label"></label>
                <input asp-for="DeploymentType" class="form-control" />
                <span asp-validation-for="DeploymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MID" class="control-label"></label>
                <input asp-for="MID" class="form-control" />
                <span asp-validation-for="MID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TID" class="control-label"></label>
                <input asp-for="TID" class="form-control" />
                <span asp-validation-for="TID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schemes" class="control-label"></label>
                <input asp-for="Schemes" class="form-control" />
                <span asp-validation-for="Schemes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MerchantType" class="control-label"></label>
                <input asp-for="MerchantType" class="form-control" />
                <span asp-validation-for="MerchantType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SGQRID" class="control-label"></label>
                <input asp-for="SGQRID" class="form-control" />
                <span asp-validation-for="SGQRID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SGQRVersion" class="control-label"></label>
                <input asp-for="SGQRVersion" class="form-control" />
                <span asp-validation-for="SGQRVersion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeploymentPhoto" class="control-label"></label>
                <input asp-for="DeploymentPhoto" class="form-control" />
                <span asp-validation-for="DeploymentPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoBefore" class="control-label"></label>
                <input asp-for="PhotoBefore" class="form-control" />
                <span asp-validation-for="PhotoBefore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoAfter" class="control-label"></label>
                <input asp-for="PhotoAfter" class="form-control" />
                <span asp-validation-for="PhotoAfter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

